<div class="event-photo buffer-both">
  <% image_title = "Добавил #{render partial: 'users/user', object: photo.user}" %>

  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {
    toggle: 'lightbox', title: image_title, gallery: 'event-photos'
  } %>

  <%= t('app.add')%> <%= render partial: 'users/user', object: photo.user %>
</div>
