<p> <%= t('app.hello') %> <%= @resource.email %>!</p>

<p><%= t('app.change_password') %>.</p>

<p><%= link_to t('app.change_password') , edit_password_url(@resource, reset_password_token: @token) %></p>
